{% extends 'base.html.twig' %}

{% block title %}Ma liste de noël{% endblock %}

{% block body %}
    <h1>Mes cadeaux de noël</h1>
    {% if liste is empty %}
        <p>Your list is empty. Add some gifts!</p>
    {% else %}
        <ul>
        <div class="row">
            {% for giftId, quantity in liste %}
                
                {% set gift = gifts|filter(g => g.id == giftId)|first %}
                
                
                 <div class="col-md-3 mb-4">
                <div class="card" style="height: 100%;">
                <img class="card-img-top" src='{{ asset('medias/gift_images/' ~ gift.image) }}' style="height: 200px; object-fit: cover;">
                <h5 class="card-title">{{ gift.nom }}</h5>
                <p class="card-text"><strong>Catégorie:</strong> {{ gift.categorie }}</p>
                <p class="card-text"><strong>Pegi</strong> <span class="pegi-value">{{ gift.pegi }}</span></p>
                <a class="btn btn-outline-danger" href="{{ path('gift_details', {'id': gift.id}) }}">Détails</a>
                <a class="btn btn-outline-danger float-right" href="{{ path('liste_retirer', {'id': gift.id}) }}"
                                <i class="fas fa-shopping-cart mr-1"></i> Retirer de ma liste </a>
                </div>
                
                </div>
                
            {% endfor %}
        </div>
        
    {% endif %}
{% endblock %}