{% extends 'base.html.twig' %}

{% block title %}Lettre de Noël{% endblock %}

{% block body %}
    
     {% if is_granted('ROLE_USER') %}

<div class="container mt-5">
    <div class="row">
        {% for letter in letters %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        
                        <p class="card-text">Expéditeur: {{ letter.senderName }}</p>
                        <p class="card-text"> {{ letter.letterContent }}</p>
                        <div class="btn-group">
                            <a href="{{ path('app_letter_show', {'id': letter.id}) }}" class="btn btn-primary">Show</a>
                            <a href="{{ path('app_letter_edit', {'id': letter.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    No records found
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% else %}

    <a href="{{ path('app_letter_new') }}" class="btn btn-outline-success">Écrire ma lettre au Père-Noël</a>
{% endif %}
{% endblock %}
