{% extends 'base.html.twig' %}

{% block title %}Letter{% endblock %}

{% block body %}
    <h1>Letter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ letter.id }}</td>
            </tr>
            <tr>
                <th>Sender_name</th>
                <td>{{ letter.senderName }}</td>
            </tr>
            <tr>
                <th>Letter_content</th>
                <td>{{ letter.letterContent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_letter_index') }}">back to list</a>

    <a href="{{ path('app_letter_edit', {'id': letter.id}) }}">edit</a>

    {{ include('letter/_delete_form.html.twig') }}
{% endblock %}
