{% extends 'base.html.twig' %}

{% block title %}Liste des Cadeaux{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des Cadeaux</h1>

        <div class="row">
            {% for gift in gifts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ gift.nom }}</h5>
                            <p class="card-text"><strong>Catégorie:</strong> {{ gift.categorie }}</p>
                            <p class="card-text"><strong>Pegi:</strong> {{ gift.pegi }}</p>
                            <!-- Ajoutez d'autres détails du cadeau ici -->

                            <!-- Vous pouvez également ajouter des liens pour afficher, éditer ou supprimer le cadeau -->
                            <a href="{{ path('app_gift_show', {'id': gift.id}) }}" class="btn btn-primary">Voir détails</a>
                            <a href="{{ path('app_gift_edit', {'id': gift.id}) }}" class="btn btn-secondary">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}